logs
.idea
__pycache__
data_set

/data
*/data
/test_fun
*/test_fun
/log
*/log
/Data
/EXE文件
/weights

*.so
*.lib
*.dll
# *.png
*.pth
*.pkl
*.mvdat
*.log
*.exe

*.mlmodel

/movenet_multipose_lightning_1
/movenet_singlepose_thunder_4