<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <style>
        body{
            background-color: #85FFBD;
            background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        }
        h1{
            width:300px;
            font: oblique bold 20px/50 Arial;
            margin: 0 auto;
            position :relative;
            top :-150px;
        }
    </style>
</head>
<body>
    <h1> 你好！
        <a href="/app_1/login/" style="text-decoration: none;" >登录 &nbsp &nbsp </a>
        <a href="/student/teacher/" style="text-decoration: none;" >查看学生信息</a>
    </h1>

</body>
</html>